%h2 Welcome to Watchman
#my_subscriptions
  -current_user.subscriptions.each do |name|
    .subscription= name
=form_tag subscriptions_path do
  =select_tag 'apparatus',options_for_select(Apparatus.county)
  =submit_tag "subscribe"